@{
    ViewData["Title"] = "User Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <style>
        /* Base Styles */
        .card {
            height: auto;
            background: white;
            color: black;
            border-radius: 12px;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            transition-duration: 0.5s;
        }

        .welcomeMessage {
            text-align: right;
            margin-top: 10px;
            margin-right: 20px;
        }

            .welcomeMessage.welcomeMessage-right {
                font-size: 2rem;
                font-weight: 700;
                text-align: right;
                margin-top: auto;
                margin-right: 20px;
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 0;
                display: flex;
                align-items: center;
                background: linear-gradient(45deg, #655de8, #4F46E5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }


        .profileImage {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 20px;
        }

            .profileImage img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .userDetails {
            width: 50%;
            text-align: left;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: left;
        }

        .edit-button {
            font-weight: 500;
            font-size: 0.8em;
            cursor: pointer;
            color: #4F46E5;
            text-align: left;
            margin-top: 20px;
        }

            .edit-button:hover {
                text-decoration: none;
            }

        .name {
            font-size: 1.5em;
            font-weight: 700;
            color: black;
        }

        .email, .phoneNo {
            font-size: 0.84em;
            color: black;
            letter-spacing: 0.2px;
            margin-bottom: 5px;
        }

        .profile-card {
            display: flex;
            flex-direction: row;
            width: 25%;
            margin-bottom: 10px;
        }

        .accountCard {
            width: 75%;
            background: white;
            color: black;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .accountInfo {
            text-align: left;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .accountDetailsTitle {
            font-size: 1.5rem;
            font-weight: 700;
            color: black;
            letter-spacing: 0.5px;
        }

        .accountTitle, .accountText {
            font-size: 1em;
            font-weight: 600;
            color: black;
            letter-spacing: 0.5px;
            margin-bottom: 2px;
            margin-left: 10px;
        }

        .accountText {
            font-size: 0.85em;
            color: black;
            font-weight: 400;
            letter-spacing: 0.2px;
            margin-bottom: 5px;
            margin-left: 10px;
        }


        .card-container {
            display: flex;
            flex-direction: row;
        }

        .transferMoney {
            width: 100%;
            text-align: left;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .transferTitle {
            font-size: 1.5rem;
            font-weight: 700;
            color: black;
            letter-spacing: 0.5px;
        }

        .formField {
            font-size: 0.84em;
            color: black;
            letter-spacing: 0.2px;
            margin-bottom: 10px;
        }

        .sendButton {
            font-weight: 600;
            background-color: #4F46E5;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 6px;
            cursor: pointer;
        }

            .sendButton:hover {
                background-color: #655de8;
            }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .transferCard {
            display: flex;
            flex-direction: column;
            width: 25%;
        }

        .transactionCard {
            width: 75%;
            background: white;
            color: black;
            border-radius: 12px;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transition-duration: 0.5s;
            margin-left: 10px;
        }

        .transactionDetails {
            width: 100%;
            text-align: left;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: left;
        }

        .transactionTitle {
            font-size: 1.5em;
            font-weight: 700;
            color: black;
            letter-spacing: 0.5px;
            border-bottom: 1px solid black;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .transactionTable {
            width: 100%;
            border-collapse: collapse;
        }

            .transactionTable th, .transactionTable td {
                border: 1px solid transparent;
                padding: 8px;
                text-align: left;
                color: black;
            }

            .transactionTable th {
                background: white;
                font-weight: 700;
                letter-spacing: 0.5px;
            }

            .transactionTable tr:nth-child(even), .transactionTable tr:nth-child(odd) {
                background: white;
            }

        .scrollable-table {
            max-height: 270px;
            overflow: auto;
        }

        .error-message {
            text-align: center;
            color: #4F46E5;
            font-size: 14px;
            margin-top: 10px;
            font-weight: 600;
        }

        .popupContainer {
            position: fixed;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            z-index: 10;
            top: 0;
            left: 0;
        }

        .popupShow {
            display: flex;
        }

        .popupCard {
            max-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .popupCloseBtn {
            position: absolute;
            top: 5%;
            right: 5%;
            border: none;
            background-color: transparent;
        }

        .editField {
            width: 100%;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .editFieldLabel {
            border: none;
        }

        .sendButton {
            width: 100%; /* Make the button as long as the input fields */
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #4F46E5;
            color: white;
            cursor: pointer;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }

        .editTitle {
            font-size: 1.5em;
            font-weight: bold;
        }

    </style>


</head>
<body>
    <div class="popupContainer" id="popup">
        <div class="popupCard card">
            <button class="popupCloseBtn" onclick="toggleCard()">X</button>
            <div class="edit">
                <p class="editTitle">Edit Details</p>
                <p class="editFieldLabel">Password</p>
                <input type="text" id="editName" class="editField">
                <p class="editFieldLabel">Confirm Password</p>
                <input type="text" id="editPhoneNo" class="editField">
                <button class="sendButton" onclick="sendTransaction()">Edit</button>
                <p id="errorMessage" class="error-message"></p>
            </div>
        </div>
    </div>

    <div class="card-container">

        <div class="profile-card card">
            <div class="profileImage">
                <img src="https://picsum.photos/200/200" alt="Profile Image">
            </div>
            <div class="userDetails">
                <p class="name" id="name">Pepper Potts</p>
                <p class="email" id="email">pepper@pots.com</p>
                <p class="phoneNo" id="phone">0777171717</p>
                <p class="edit-button" onclick="toggleCard()">Edit Details</p>
            </div>
        </div>

        <div class="accountCard card">
            <div class="accountInfo">
                <p class="accountDetailsTitle">Account Details</p>
                <div class="account-details">
                    <div class="account-detail">
                        <p class="accountTitle">Account Number</p>
                        <p class="accountText" id="accountNumber">0000000000</p>
                    </div>
                    <div class="account-detail">
                        <p class="accountTitle">Current Balance</p>
                        <p class="accountText" id="accountBalance">$ 0</p>
                    </div>
                </div>
                <div class="welcomeMessage welcomeMessage-right">
                    <!-- Add the welcomeMessage-right class -->
                    <p class="accountText">Trust Bitcoin! It's better than your bank :)</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card-container">
        <div class="transferCard card">
            <div class="transferMoney">
                <p class="transferTitle">Transfer Money</p>
                <p class="formField">Account Number</p>
                <input type="text" id="recieverAccountNumber" class="formField">
                <p class="formField">Amount</p>
                <input type="text" id="recieverAmount" class="formField">
                <p class="formField">Description</p>
                <textarea id="recieverDescription" class="formField"></textarea>
                <button class="sendButton" onclick="sendTransaction()">Send</button>
                <p id="errorMessage" class="error-message"></p>
            </div>
        </div>


        <div class="transactionCard card">
            <div class="transactionDetails">
                <p class="transactionTitle">Transaction History</p>
                <div class="scrollable-table">
                    <table class="transactionTable" id="transactions">
                        <tr>
                            <th>Transaction Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                        <!-- Add more rows for additional transactions as needed -->
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script>

        var user;

        document.addEventListener("DOMContentLoaded", function () {

            var cookieData = document.cookie
                .split('; ')
                .find((row) => row.startsWith("user="))
                .split('=')[1];

            if (cookieData) {
                var jsonData = JSON.parse(cookieData);


                fetchUserDetails(jsonData.email);



                console.log(jsonData);
            }
        });

        function fetchUserDetails(email) {

            fetch("http://localhost:5237/bankApi/getUser?email=" + email)
                .then(async response => {
                    if (response.ok) {
                        user = await response.json();
                        console.log(user);
                        document.getElementById("name").textContent = user.name;
                        document.getElementById("email").textContent = user.email;
                        document.getElementById("phone").textContent = user.phone;
                        document.getElementById("accountNumber").textContent = user.accounts[0].accountNo;
                        document.getElementById("accountBalance").textContent = 'LKR ' + user.accounts[0].balance;
                        fetchAccounts(user.accounts[0].accountId);


                    }
                    else {
                        alert("Invalid Account Number");
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }

        function fetchAccounts(accountId) {
            fetch("http://localhost:5237/bankApi/getTransactions?id=" + accountId)
                .then(async response => {
                    if (response.ok) {
                        const jsondata = await response.json();
                        console.log(jsondata);
                        var transactionTable = jsondata;


                        document.getElementById("transactions").innerHTML += transactionTable.map(transaction => {
                            return `<tr>
                            <td>${transaction.dateTime}</td>
                            <td>${transaction.description}</td>
                            <td>LKR ${transaction.amount}</td>
                            </tr>`;
                        }).join('');
                    }
                    else {
                        alert("Invalid Account Number");
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }

        function sendTransaction() {

            const accountNumber = document.getElementById("recieverAccountNumber").value;
            const amount = parseFloat(document.getElementById("recieverAmount").value);
            const description = document.getElementById("recieverDescription").value;

            console.log(accountNumber, amount, description);

            postTransaction(accountNumber, amount, description);
        }

        function postTransaction(accountNumber, amount, description) {
            const errorMessageElement = document.getElementById("errorMessage"); // Get the error message element
            const now = new Date();
            const date = now.toISOString();


            fetch("http://localhost:5237/bankApi/transfer?to=" + accountNumber, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "amount": amount,
                    "accountId": parseInt(user.accounts[0].accountId),
                    "description": description,
                    "dateTime": date
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Request failed with status: ' + response.status);
                    }
                    return response.json();
                })
                .then(data => {

                    console.log('Success! Transaction posted:', data);
                    errorMessageElement.textContent = 'Transaction Successful!';
                    setTimeout(function () {
                        errorMessageElement.textContent = '';
                    }, 2000);
                })
                .catch(error => {

                    errorMessageElement.textContent = 'Error: ' + error.message;
                    setTimeout(function () {
                        errorMessageElement.textContent = '';
                    }, 2000);
                });
        }

        function toggleCard() {

            document.getElementById("popup").classList.toggle("popupShow")

        }


    </script>

</body>
</html>